{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ComunicadosB - Inicio</title>

    <link rel="stylesheet" href=" %static 'core\recursos\bootstrap.min.css' %">
    
    <link rel="stylesheet" href="%static 'core\recursos\estilos.css' %">

</head>


<body>
    <header>
    <nav class="navbar">  <!--barra superior + navbar PENDIENTE-->

        <div class="container-fluid">
            <a class="navbar-brand" href="home.html">ComunicadosB</a>



            <!--boton tipo modal de login-->
        <button >
            
        </button>
            <!--boton tipo modal de login-->
        </div>
        
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                
           
            </ul>

        </div>
    </nav>



    </header>
    <!--barra superior + navbar PENDIENTE-->


    <main> <!--contenido principal-->




         <!--LISTA DE COMUNICADOS PENDIENTE-->

    </main>



   


    <script src="{%static 'core\recursos\bootstrap.min.js' %}"></script>
</body>
</html>