<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CentroExperto S.A</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>

<body>
    <header>
        <p>
            <strong>
                <h1>
                    API LOCAL 10: Centro Experto S.A.
                </h1>
            </strong>
        </p>

    </header>

<br><br><br>

<h3>
    <strong>Descripcion</strong>
</h3>
<br>

    Esta API permite optener la informacion para el arriendo de maquinas, herramientas y respectivas ofertas para el local "Centro Experto"

    <br><br> 
    <h4><strong>TABLA HERRAMIENTAS</strong></h4>
    <br> 
    <table class="table table-secondary table-striped-columns">
        <thead>
            <tr>
                <th scope="col">ID de Etiqueta</th>
                <th scope="col">Marca</th>
                <th scope="col">Estado</th>
                <th scope="col">Tipo</th>
                <th scope="col">Precio</th>
            </tr>
        </thead>
    
    <tbody>
    {% for Herramienta in Herramientas %}
            <tr>
                <td>{{Herramienta.id_etiqueta}}</td>
                <td>{{Herramienta.marca_herramienta}}</td>
                <td>{{Herramienta.estado_herramienta}}</td>
                <td>{{Herramienta.tipo_herramienta}}</td>
                <td>{{Herramienta.precio_herramienta}}</td>
            </tr>
    {% endfor%}
    </tbody>
   
    </table>
   
    <br><br><br><br> 


    <h4><strong>TABLA MAQUINAS</strong></h4>
    <br> 
    <table class="table table-secondary table-striped-columns">
        <thead>
            <tr>
                <th scope="col">Placa de matricula</th>
                <th scope="col">Marca</th>
                <th scope="col">Estado</th>
                <th scope="col">Tipo</th>
                <th scope="col">Precio</th>
            </tr>
        </thead>
    
    <tbody>
    {% for Maquina in Maquinas%}
            <tr>
                <td>{{Maquina.placa_matricula}}</td>
                <td>{{Maquina.marca_maquina}}</td>
                <td>{{Herramienta.estado_maquina}}</td>
                <td>{{Herramienta.tipo_maquina}}</td>
                <td>{{Herramienta.precio_maq}}</td>
            </tr>
    {% endfor%}
    </tbody>
   
    </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
</body>
</html>